@font-face {
  font-family: 'gilroy-regular';
  src: url('/fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'gilroy-bold';
  src: url('/fonts/Gilroy-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Gilroy', sans-serif;
}
